.uiuiui-multislider {
	height: 1em;
	background: #f0f0f0;
	position: relative;
}

.uiuiui-multislider .uiuiui-surface {
	position: absolute;
	top: 0;
	left: 0;
}

.uiuiui-multislider__handle {
	position: absolute;
	width: 1em;
	height: 1em;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	background: red;
	border-radius: 50%;
}