.uiuiui-input {
	position: relative;
}

.uiuiui-input input {
	box-sizing: border-box;
	width: 100%;
	font-size: 1em;
	font-family: inherit;
	border: 1px solid #999;
}

.uiuiui-input input:focus {
	outline: none;
	border-color: #000;
}

.uiuiui-input__controls {
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	width: 1em;
	border-left: 1px solid #999;
	display: none;
}

.uiuiui-input:hover .uiuiui-input__controls {
	display: block;
}

.uiuiui-input__control {
	display: block;
	background: #f0f0f0;
	text-align: center;
	height: 50%;
	box-sizing: border-box;
	overflow: hidden;
}

.uiuiui-input__control--increment {
	border-bottom: 1px solid #999;
}

.uiuiui-input__controls .uiuiui-icon {
	stroke: #999;
	stroke-width: 1.5;
	fill: none;
	overflow: visible;
	width: 100%;
	height: 100%;
	display: block;
}

.uiuiui-input__control:hover .uiuiui-icon {
	stroke: #000;
}