.uix-pad__grid {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.uix-pad__grid-background {
	fill: none;
}

.uix-pad__grid-lines {
	stroke: #ccc;
	stroke-width: 1;
	vector-effect: non-scaling-stroke;
}
