.uix-polarpad__handle {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	border: 1px solid #000;
	z-index: 100;
}

.uix-polarpad:focus .uix-polarpad__handle {
	border-color: blue;
}
