.uix-pad__tooltip {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -125%);
	background: #222;
	color: #fff;
	padding: 0.25em;
	pointer-events: none;
	user-select: none;
	z-index: 1000;
	white-space: nowrap;
}