.uiuiui-radialpad {
	width: 300px;
	height: 300px;
	background: #f0f0f0;
	position: relative;
	border-radius: 50%;
}

.uiuiui-radialpad:focus {
	outline: none;
}

.uiuiui-radialpad__handle {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	border: 1px solid #000;
	z-index: 100;
}

.uiuiui-radialpad:focus .uiuiui-radialpad__handle {
	border-color: blue;
}

.uiuiui-radialpad__grid {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.uiuiui-radialpad__grid-background {
	fill: none;
}

.uiuiui-radialpad__grid-lines {
	stroke: #ccc;
	stroke-width: 1;
	vector-effect: non-scaling-stroke;
	fill: none;
}