.uiuiui-gradient {
	height: 1em;
	position: relative;
}

.uiuiui-gradient .uiuiui-spectrum,
.uiuiui-gradient .uiuiui-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: auto;
	right: auto;
}

.uiuiui-gradient .uiuiui-multislider {
	background: transparent;
}