.rc-gradient {
	height: 1em;
	position: relative;
}

.rc-gradient .rc-spectrum,
.rc-gradient .rc-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: auto;
	right: auto;
}

.rc-gradient .rc-multislider {
	background: transparent;
}