.radial-surface-container {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #f0f0f0;
}

.spectrum-container {
	width: 300px;
	height: 100px;
}

.equalizer {
	display: flex;
	height: 300px;
}

.equalizer .uix-slider {
	margin: 0 0.5em;
	width: 100%;
}

.custom-selection-ui {

}

.custom-selection-ui circle {
	r: 3;
	fill: red;
	pointer-events: all;
}

.custom-selection-ui circle.selected {
	fill: blue;
}

.portal-reference {
	border: 1px solid green;
	padding: 1em;
	display: inline-block;
	position: relative;
	left: 300px;
}